@font-face {
    font-family: LemonMilk;
    src: url('/fonts/LEMONMILK-Medium.otf') format("opentype");
  }

:root {
    --mainRed: #F75757;
    --Grass: #54E250;
    --Fire: #FF8039;
    --Normal: #BCA584;
    --Water: #4576FF;
    --Electric: #e0d900;
    --Ice: #88DBFF;
    --Fighting: #DD0000;
    --Poison: #A84DFF;
    --Ground: #DBD87B;
    --Flying: #ACA0F2;
    --Psychic: #F79494;
    --Bug: #C0F251;
    --Rock: #B7874E;
    --Ghost: #6C5491;
    --Dark: #4A4651;
    --Dragon: #401DD8;
    --Steel: #B5B5B5;
    --Fairy: #FFCACA;
    --tertiaryFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Press Start 2P', cursive;
    --mainFont: LemonMilk;
}

body {
    overflow-x: hidden;
    padding: 0;
}
.logoContainer {
    height: 30vh;
}
.landingTitle {
    font-family: var(--mainFont);
    font-size: 2em;
}
.landingSubtitle {
    font-family: var(--tertiaryFont);
    font-size: 20px;
    color: #606060
}
.surpriseMe {
    margin-top: 10%;
    font-family: var(--mainFont);
    font-size: 2em !important;
    width: 60%;
    height: 3em;
    background-color: var(--mainRed) !important;
    border: none !important;
    border-radius: 20px !important;
}
.searchbarContainer {
    height: 8vh;
    background-color: var(--mainRed);
    margin: 0 !important;
}
.searchbar {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
}
#pkmnList {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    font-family: var(--mainFont);
    font-size: 1.5rem;
    line-height: 0px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid white;
}       #pkmnList:focus {
            outline: none;
        }
[data-svelte-search] label {
    display: none !important;
}
[data-svelte-typeahead] {
    /* background-color: rgba(0, 0, 0, 0) !important; */
    background-color: var(--mainRed) !important;
    
}
.svelte-typeahead-list.svelte-typeahead-list {
    max-height: 30vh !important;
    overflow-y: scroll;
    border-radius: 10px;
}
.svelte-j5n77y.svelte-j5n77y {
    border-bottom: none !important;
    background-color: white;
    
}
ul.svelte-j5n77y {
    margin-top: 2%;
    box-shadow: 10px 5px black !important;
}
.svelte-j5n77y::-webkit-scrollbar {
    width: 10px;
}
.svelte-j5n77y::-webkit-scrollbar-track {
    background: white;
}
.svelte-j5n77y::-webkit-scrollbar-thumb {
    background: #888;
}
  
option {
    background-color: #54E250;
}
::-webkit-calendar-picker-indicator {
    display: none;/* remove default arrow */
    visibility: hidden;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    position: relative;
    float: right;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.dexWindow {
    /* height: 80vh; */
    background-color: #F4F4F4;
    margin: 3%;
    
}

#dexImage {
    width: 45%;
}
@media screen and (max-width: 560px) {
    #dexImage {
        width: 300px; /*Probably bad practice*/
    }
}
#nameAndNumber {
    margin: 5%;
    box-shadow: 15px 5px black;
    font-family: var(--mainFont);
}
.nameTop {
    background-color: var(--mainRed);
}
.name {
    font-size: 3rem;
    margin-top: 4px;
}
.number {
    font-size: 3rem;
}
@media screen and (max-width: 560px) {
    .name {
        font-size: 2rem;
    } .number {
        font-size: 2rem;
    }
}
.nameBottom {
    background-color: white;
    padding: 10px;
}
.number {
    color: white;
}

#type {
    margin: 5%;
    box-shadow: 5px 5px black;
    background-color: white;
    font-family: var(--mainFont);
}

.typeContainer {
    background-color: blue;
    border-radius: 5px;
    margin: 5%;
    padding: 5%;
    color: white;
}
.typeText {
    /* font-size: 1.5em; */
    margin: auto;
}

#descriptionContainer {
    background-color: white;
    max-height: 100%;
    margin: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description {
    color: black;
    font-size: 1.2em;
    font-family: var(--secondaryFont);
    margin: 1em;
    max-height: 100%;
    overflow: hidden;
}
.statsContainer {
    /* margin-right: 10%; */
}
#HWAbilityContainer {
    background-color: var(--mainRed);
    max-height: 100%;
    margin: 5%;
    overflow: hidden;
    border-radius: 10px;
    /* font-size: 22px; */
}
.heightWeight {
    font-family: var(--mainFont);
    margin: 1em;
}
.heightWeightText {
    color: white;
}
.ability {
    font-family: var(--mainFont);
    margin: 1em;
}
.abilityText {
    font-family: var(--secondaryFont);
    font-size: .5em;
    color: white;
}