@font-face {
    font-family: LemonMilk;
    src: url('/fonts/LEMONMILK-Medium.otf') format("opentype");
  }

:root {
    --mainRed: #F75757;
    --Grass: #54E250;
    --Fire: #FF8039;
    --Normal: #BCA584;
    --Water: #4576FF;
    --Electric: #e0d900;
    --Ice: #88DBFF;
    --Fighting: #DD0000;
    --Poison: #A84DFF;
    --Ground: #DBD87B;
    --Flying: #ACA0F2;
    --Psychic: #F79494;
    --Bug: #C0F251;
    --Rock: #B7874E;
    --Ghost: #6C5491;
    --Dark: #4A4651;
    --Dragon: #401DD8;
    --Steel: #B5B5B5;
    --Fairy: #FFCACA;
    --tertiaryFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Press Start 2P', cursive;
    --mainFont: LemonMilk;
}
/* ------------------------------------------------------------------GENERAL--------------------------------------------------------------------------------------------- */
body {
    overflow-x: hidden;
    padding: 0;
}
.footer {
    /* bottom: 0;
    position: fixed; */
    background-color: white;
    /* padding: 10px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: var(--tertiaryFont);
}
#footerText {
    padding-top: 10px;
}
/* ------------------------------------------------------------------LANDING--------------------------------------------------------------------------------------------- */
.logoContainer {
    height: 30vh;
}
#logo {
    width: 30%;
    /* Magic code for vertically centering Image */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

}
.landingTitle {
    font-family: var(--mainFont);
    font-size: 2em;
}
.landingSubtitle {
    font-family: var(--tertiaryFont);
    font-size: 20px;
    color: #606060
}
.surpriseMe {
    margin-top: 10%;
    font-family: var(--mainFont);
    font-size: 2em !important;
    width: 60%;
    height: 3em;
    background-color: var(--mainRed) !important;
    border: none !important;
    border-radius: 20px !important;
    margin-bottom: 10%;
}
@media screen and (max-width: 560px) {
    .surpriseMe {
        font-size: 1.5em !important;
    }   
    .logoContainer {
        margin-top: 7vh;
    }
    #logo {
        height: auto;
        width: 40%;
    }
}
@media screen and (max-width: 1280px) {
    
}
/* ------------------------------------------------------------------SEARCHBAR--------------------------------------------------------------------------------------------- */


  /* ------------------------------------------------------------------DEXCONTAINER--------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------NAME AND NUMBER--------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------TYPE--------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------DESCRIPTION--------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------STATS--------------------------------------------------------------------------------------------- */
.statsContainer {
    /* margin-right: 10%; */
}
/* ------------------------------------------------------------------H, W, ABILITY--------------------------------------------------------------------------------------------- */
